# Database
Database__Host=localhost
Database__Port=5432
Database__Name=database
Database__User=user
Database__Password=pass

# JWT
JWT__Secret=uma_chave_bem_grande_e_secreta
JWT__Issuer=Nexora-api
JWT__Audience=Nexora
JWT__ExpirationSeconds=60
JWT__RefreshExpirationHours=24

# AI API
AI__Provider=Gemini
AI__Gemini__ApiKey=AQ.key
AI__Gemini__BaseUrl=https://generativelanguage.googleapis.com/v1beta/
AI__Gemini__Model=gemini-3.5-flash
AI__Gemini__ModelRetry=gemini-3.5-flash-lite
AI__Gemini__Temperature=0.2
AI__Gemini__MaxOutputTokens=8192

# SECURITY
SEC__EncryptionKey=sua-chave-32-bytes-aqui

# API URL
API__BaseUrl=http://localhost:4000