# Database
Database__Host=localhost
Database__Port=5432
Database__Name=database
Database__User=user
Database__Password=pass

# JWT
JWT__Secret=uma_chave_bem_grande_e_secreta
JWT__Issuer=WEBEditorAPI
JWT__Audience=WEBEditor
JWT__ExpirationSeconds=60
JWT__RefreshExpirationHours=24